.form-title{
    font-weight: 900;
    font-size:60px;
    line-height: 1; 
}

.PhoneInputInput{
    border:0;
}

.PhoneInputInput:active{
    border:0 !important;
}

.hide {
    display: none;
  }
  