.text-title {
  /* font-size: var(--call-title-size); */
  font-weight: 900;
  text-transform: lowercase;
  line-height: 1;
  color: var(--text-title-color);
  display: inline-block;
  margin-top: var(--header-home-title-margin-top-adjustment);
}


.logo-icon-svg {
  fill: #c3c3c3; 
}

.call-p {
  font-size: 1.5rem; 
  font-weight: 500;
  line-height: var(--call-p-line-height);
  color: var(--call-p-color);
  display: inline-block;
}
